.submenu .submenu-list
  padding: 0
  margin: 0
  width: 100%
  height: 100%
  list-style-type: none

.submenu .submenu-list .submenu-item
  padding: 0 10px 0 10px
  height: 60px
  display: flex
  align-items: center
  overflow hidden
  cursor: pointer

.submenu .submenu-list .submenu-item:hover
  background: #edf4ff

.submenu .submenu-list .submenu-item:hover .submenu-name
  color: #1abc9c

.submenu .submenu-list .submenu-item .submenu-name
  font-family: 'Ubuntu', sans-serif
  font-size: 16px
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #34495e