@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*
  padding 0
  margin 0 
  
.nav-wrapper
  display grid
  grid-template-rows 1fr
  grid-template-columns 1fr 1fr
  background: white
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 0 10px 0 10px
  font-family: 'Ubuntu', sans-serif;
  z-index: 5

.nav-header
  display flex
  height 100%

.nav-header .name, .nav-header .icon
  display flex
  align-items center
  padding 10px
  color: #39a1f9

.nav-header .name
  font-size: 24px

.nav-header .name a 
  text-decoration: none
  color: #39a1f9

.nav-header .icon img
  height 40px

.nav-controls 
  height 100%

.help
  display: inline-block;
  height: 20px;

.control-img
  height 20px

.notification 
  display: inline-block;

.nav-control-icon
  font-size: 20px
  cursor: pointer;
  color: #636e72;
  transition: all .2s ease;

.nav-control-icon:hover
  color: #39a1f9;

.mini-profile-avatar
  height: 40px;
  border-radius: 360px;
  width: 40px;
  overflow: hidden;

.mini-profile-avatar > img
  height 40px

.controls-list
  list-style-type none
  display flex
  height 100%
  align-items center
  justify-content flex-end 

.control-item
  padding: 0 10px 0 10px;

#profile-dropdown
  background: 0;
  border: 0;
  outline: none;
  color: #636e72;

#profile-dropdown:hover
  color: #39a1f9;

#profile-dropdown:active, #profile-dropdown:focus
  outline: none;
  -moz-outline-style: none;
  
