<tr id="1tr" class="1tr">
  <th>1</th>
  <td><span>0000000001</span></td>
  <td><span>0000010682</span></td>
  <td><span>411000000000920250</span></td>
  <td ><span>Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С</span></td>
  <td><span>ШТ</span></td>
  <td><span>3,000</span></td>
  <td><span>10713,00</span></td>
  <td><span>32139,00</span></td>
  <td><span>2019</span></td>
  <td><span>60 - Заявка закрыта</span></td>
  <td><span></span></td>
  <td><span>АО ПГ "Метран"</span></td>
  <td><span></span></td>
  <td><span></span></td>
  <td><span></span></td>
  <td><span></span></td>
  <td><span></span></td>
  <td><span>null</span></td>
</tr>