.submenu-header.service-header
  span Список сервисов
ul.service-list
  li.service-item
    span.service-name Сервис №211
  li.service-item
    span.service-name Сервис №299
  li.service-item
    span.service-name АУП
  li.service-item
    span.service-name Участок автоматизации по <br> НГДУ "Бавлынефть"
