.depart-modal-button
  .open-icon
    i(class="fas fa-angle-up")
  .animated-border
.depart-modal-window
  .depart-modal-warp
    .depart-header
      h2 Список отделов
    .depart-list
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
.table-block
