table(id="t-tbl" class="" cellspacing="0" cellpadding="10")
        thead
          tr
            th(scope="col") 
            th(scope="col") ID
            th(scope="col") Поз. заявки СП
            th(scope="col") Номер заявки СП
            th(scope="col") Материал
            th(scope="col") КрТекстМатериала
            th(scope="col") Единица измерения
            th(scope="col") Кол-во (заявка СП)
            th(scope="col") Цена без НДС
            th(scope="col") Стоим. без НДС
            th(scope="col") Год заяв. кампании
            th(scope="col") Статус
            th(scope="col") Дата поставки
            th(scope="col") Срок доставки, дн
            th(scope="col") Дата согласовния (заявка СП)
            th(scope="col") ЗаявкаСП Описание
            th(scope="col") Таб. номер
            th(scope="col") Прайс: поставщик наим
            th(scope="col") Номер договора
            th(scope="col") Заказчик
            th(scope="col") Группа "Состояния"
            th(scope="col") Адрес размещения
            th(scope="col") ФИО пользователя/подразделение
            th(scope="col") Технические аттрибуты
            th(scope="col") Статья затрат
        tbody(id='t-body')
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 1
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 2
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 3
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 4
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 5
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 6
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 7
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 8
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 9
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr.new-row
            th.row-checkbox
              input(type="checkbox")
            th.row-id 10
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td 
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 11
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td 
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 12
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
          tr
            th.row-checkbox
              input(type="checkbox")
            th.row-id 13
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Метран-55-Вн-ДА-505-МП-t1-050-0.6МПа-42С
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td 
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp" onkeyup="textAreaAdjust(this)") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
            td
              textarea(type="text" class="table-data-inp") Some text
