.depart-modal-button
  .open-icon
    i(class="fas fa-angle-up")
  .animated-border
.depart-modal-window
  .depart-modal-warp
    .depart-header
      h2 Список отделов
    .depart-list
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120              
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматики печей НГДУ "Нурлатнефть"
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
      .depart-item
        .name-space
          .depart-name
            span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
          .view-status
            i(class="fas fa-eye depart-view-true" style="color: #3498db;")
            i(class="fas fa-eye-slash depart-view-false" style="color: #e74c3c; display: none;")
        .depart-info
          .usercount
            span Сотрудников: 
              span.count 22
          .itemcount
            span Единиц: 
              span.count 120
.table-block
  .table-header
    span Бригада по обслуживанию автоматизации объектов подготовки нефти и газа №1 (по НГДУ АлН,ЕН,ЯН)
  .table-controls
    .editor-controls
      button.save.control-btn 
        i(class="fas fa-save")
      button.add.control-btn 
        i(class="fas fa-plus") 
    .additional-controls
      button.add-control-btn
        i(class="fas fa-undo-alt")
      button.add-control-btn.search-btn
        i(class="fas fa-search")
      //- input(type="text" class="search-inp")
      button.add-control-btn
        i(class="fas fa-sync-alt")
      button.add-control-btn
        i(class="fas fa-print")
  .table
    table(id="t-tbl" class="" cellspacing="0")
      thead
        tr
          th(scope="col") ID
          th(scope="col") Поз. заявки СП
          th(scope="col") Номер заявки СП
          th(scope="col") Материал
          th(scope="col") КрТекстМатериала
          th(scope="col") Единица измерения
          th(scope="col") Кол-во (заявка СП)
          th(scope="col") Цена без НДС
          th(scope="col") Стоим. без НДС
          th(scope="col") Год заяв. кампании
          th(scope="col") Статус
          th(scope="col") Дата поставки
          th(scope="col") Срок доставки, дн
          th(scope="col") Дата согласовния (заявка СП)
          th(scope="col") ЗаявкаСП Описание
          th(scope="col") Таб. номер
          th(scope="col") Прайс: поставщик наим
          th(scope="col") Номер договора
          th(scope="col") Заказчик
          th(scope="col") Группа "Состояния"
          th(scope="col") Адрес размещения
          th(scope="col") ФИО пользователя/подразделение
          th(scope="col") Технические аттрибуты
          th(scope="col") Статья затрат
      tbody(id='t-body')
        tr
          th 1
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td 
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
        tr
          th 2
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td 
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text
          td
            textarea(type="text" class="table-data-inp") Some text