.menu
  ul.menu-list
    li#menu-item.menu-item.service-button
      .menu-icon
        i(class="fab fa-buffer")
      .menu-name
        span(class="menu-button-name") Сервис
    li#menu-item.menu-item.workhouse-button
      .menu-icon
        i(class="fas fa-boxes")
      .menu-name
        span(class="menu-button-name") Склад
    li#menu-item.menu-item.1c-button
      .menu-icon
        span(class="oneC-icon") 1C
      .menu-name
        span(class="menu-button-name") Предприятие
.submenu 2
.workspace 3