.menu
  ul.menu-list
    li#menu-item.menu-item.service-button(color="#e74c3c")
      .menu-icon
        i(class="fab fa-buffer")
      .menu-name
        span(class="menu-button-name") Сервисы
    li#menu-item.menu-item.workhouse-button(color="#8e44ad")
      .menu-icon
        i(class="fas fa-boxes")
      .menu-name
        span(class="menu-button-name") Склад
    li#menu-item.menu-item.1c-button(color="#f39c12")
      .menu-icon
        span(class="oneC-icon") 1C
      .menu-name
        span(class="menu-button-name") Предприятие
.submenu
  .submenu-warp
    include service-ul.pug
.workspace
  .table-warp
    include table.pug