// left menu
.workspace-warp .menu
  background: #39a1f9
  overflow hidden
  z-index 1

.workspace-warp .menu .menu-list
  list-style-type: none
  height: 100%
  display: flex
  flex-direction: column
  padding-top: 60px;

.workspace-warp > .menu > .menu-list .menu-item
  color: white
  height: 60px
  font-size: 24px
  cursor: pointer
  padding: 0 0 0 10px
  transition: .2s
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 60px 1fr

.menu-icon, .menu-name
  display: flex
  align-items: center

.menu-icon
  justify-content: center

.menu-name
  justify-content: flex-start

.workspace-warp > .menu > .menu-list > .menu-item > .menu-icon > .oneC-icon
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold
  font-size: 20px


.workspace-warp > .menu > .menu-list .menu-item:hover
  background: #2980b9
  padding: 0 0 0 20px

.menu-button-name
  font-family: 'Ubuntu', sans-serif
  font-size: 18px
// actions

.menu-show
  justify-content: flex-start !important

.menu-active
  border-left: 5px solid white
  background: #2980b9