.submenu
  background: #39a1f9

.submenu-warp
  height: 100%
  width: 100%
  background white
  border-top-left-radius: 30px;
  display: grid
  grid-template-rows: 60px 1fr

.submenu-header
  display: flex
  align-items: center
  margin: 0 10px 0 10px
  border-bottom: 2px dashed #bdc3c7

.submenu-header span
  font-family: 'Ubuntu', sans-serif
  font-size: 18px
  font-weight: bold
  color: #bdc3c7