.table-warp
  height: 100%
  width: 100%
  background #eff5f9
  border-top-left-radius: 30px;
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

.table-block
  height: 95%
  width: 95%
  border-radius: 30px;
  background white
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);