- var appName = 'your Website'
- var title = 'InvAcc'

head
  title #{title}
  script(src="https://kit.fontawesome.com/9660b02901.js" crossorigin="anonymous")

body
  include pug/views/main.pug


  

